GOOGLE_CALENDAR_CREDENTIALS_PATH=~/.config/cyberdeck/google-credentials.json
GOOGLE_CALENDAR_TOKEN_PATH=~/.config/cyberdeck/google-token.json
NOTION_TOKEN=secret_xxx
SPOTIFY_CLIENT_ID=xxx
SPOTIFY_CLIENT_SECRET=xxx
SPOTIFY_REFRESH_TOKEN=xxx
GITHUB_TOKEN=ghp_xxx
